[project]
	description = ???????????????
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Dan Shan (danshan)
[access "refs/for/refs/*"]
	read = group user/Dan Shan (danshan)
	push = group user/Dan Shan (danshan)
	label-Code-Review = -2..+2 group user/Dan Shan (danshan)
	label-Verified = -1..+1 group user/Dan Shan (danshan)
	rebase = group user/Dan Shan (danshan)
	removeReviewer = group user/Dan Shan (danshan)
	submit = group user/Dan Shan (danshan)
[access "refs/heads/*"]
	read = group user/Dan Shan (danshan)
	create = group user/Dan Shan (danshan)
	push = +force group user/Dan Shan (danshan)
	pushMerge = group user/Dan Shan (danshan)
[access "refs/tags/*"]
	push = group user/Dan Shan (danshan)
	push = +force group user/Dan Shan (danshan)
